.header-container {
  align-items: center;
  background: rgba(87, 87, 87, 0.6);
  box-shadow: 0 0 5px 5px  rgba(87, 87, 87, 0.6);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  color: white;

  h1 {
    font-size: 8em;
    letter-spacing: 0.2em;
  }

  p{
    font-size: 1.6em;
  }
}

.header-btn-container {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin-top: -15px;
  width: 56%;

  a {
   text-decoration: none; 
  }

  button {
    width: 21%;
  }

  button:hover {
    background: rgba(81, 102, 85, 0.9);
    border: none;
    color: white;
    a {
      background: rgba(81, 102, 85, 0.9);
      color: white;
    }
  }

}