input {
  height: 30px;
  width: 300px;
  border-radius: 30px;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { 
  /* Firefox 18- */
  text-align: center;  
}

::-moz-placeholder {  
  /* Firefox 19+ */
  text-align: center;  
}

:-ms-input-placeholder {  
  text-align: center; 
}

button {
  border-radius: 30px;
  height: 33px;
  width: 90px;
  margin-left: 10px;
}